################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AprendendoAUsarPanelHihi/AprendendoAUsarPanelHihi/bin/Debug/AprendendoAUsarPanelHihi.vshost.exe.manifest
